"*":
  "atom-beautify":
    html:
      indent_size: 2
  "autocomplete-plus": {}
  core:
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    preferredLineLength: 100
  "exception-reporting":
    userId: "40deb184-7090-eeb6-752b-5c261c90bf3a"
  "git-plus": {}
  "go-plus":
    lintOnSave: false
    panelDisplayMode: "closed"
  "go-rename": {}
  gofmt: {}
  "gometalinter-linter":
    args: [
      "--vendor"
      "--disable-all"
      "--enable=vet"
      "--enable=vetshadow"
      "--enable=ineffassign"
      "--enable=goconst"
      "--tests"
      "--json"
      "."
    ]
  linter: {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".diff":
  editor:
    preferredLineLength: 100
