"*":
  "autocomplete-plus": {}
  core:
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    preferredLineLength: 100
  "exception-reporting":
    userId: "40deb184-7090-eeb6-752b-5c261c90bf3a"
  "git-plus": {}
  "go-plus":
    lintOnSave: false
  "go-rename": {}
  gofmt: {}
  "gometalinter-linter": {}
  linter: {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
