'.source.go':
  'main func':
    'prefix': 'fm'
    'body': """
      func main() {
          $0
      }
    """
  'test func':
    'prefix': 'ft'
    'body': """
      func Test$1(t *testing.T) {
          $0
      }
    """
  't.Run()':
    'prefix': 'trun'
    'body': """
      t.Run(tc.name, func(t *testing.T) {
          $0
      })
    """
  'benchmark func':
    'prefix': 'fb'
    'body': """
      func Benchmark$1(b *testing.B) {
          for i := 0; i < b.N; i++ {
              $0
          }
      }
    """
  'example func':
    'prefix': 'fe'
    'body': """
      func Example$1() {
          $0
      }
    """
  'godebug breakpoint':
    'prefix': 'br'
    'body': '_ = "breakpoint"'
  'package main':
    'prefix': 'pm'
    'body': 'package main\n\n$0'
  'json tag':
    'prefix': 'jt'
    'body': '`json:"$0"`'
